##                                                                  Measures of Central Tendency

                                                                    Mean (Average)

In [6]:
age = [1,2,3,11,3,34, 33,22, 66,74,22,1, 44]

import numpy as np
np.mean(age)

24.307692307692307

In [8]:
#working on seadborn data set
import seaborn as sns

In [9]:
tips = sns.load_dataset("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [12]:
np.mean(tips['total_bill'])

19.78594262295082

                                                                            Median

In [20]:
age = [1,2,3,11,3,34, 33,22, 66,74,22,76, 44, 112]

In [21]:
np.mean(age)

35.92857142857143

In [22]:
np.median(age)

27.5

                                                                                    MODE

In [23]:
from scipy import stats

In [24]:
stats.mode(age)

/tmp/ipykernel_77/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([3]), count=array([2]))