                                            T Test Examples

                                            1 Sample T- Test

##EXAMPLE 1 

predict the sample mean and population mean same (null hypothesis) or not

In [15]:
# assume our Population : age of students in an university.

age = [19,23,21,24,25,26,75,29,32,34,36,43,12,15,17,19,12,90,23,26,29,37]
len(age)

22

In [4]:
import numpy as np

#check the population mean
age_mean = np.mean(age)
age_mean

30.318181818181817

In [7]:
#lets pick a sample from the data

sample_size = 7
age_sample = np.random.choice(age, sample_size)
age_sample

array([34, 25, 75, 12, 24, 12, 21])

In [8]:
#our moto is to check if our sample mean == population mean or not.

In [9]:
#it's 1 sample t-test

from scipy.stats import ttest_1samp

In [11]:
ttest, p_value = ttest_1samp(age_sample,popmean= 30)

In [13]:
#our task is to check p_value is similar with population mean or not.

print(p_value)

0.9069182798416222

In [14]:
if p_value<0.05: 
    print("Rejecting Null Hypothesis")
else:
    print("failed to reject null hypothisis")

failed to reject null hypothisis

##EXAMPLE 2

Check if the avg age of class a Students (sample mean) is same is with avg age of entire stundents of a School  (population mean) is same = Null Hypothesis or not

In [6]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [7]:
school_age = stats.poisson.rvs(mu = 30, size = 1000)
class_age  = stats.poisson.rvs(mu = 28, size = 70)

In [8]:
class_mean = class_age.mean()

In [9]:
ttest, p_value = stats.ttest_1samp(a = class_age,popmean=school_age.mean() )

In [10]:
p_value

0.003948904128692654

In [11]:
#check
school_age.mean()

29.977

In [12]:
if p_value<0.05: 
    print("Rejecting Null Hypothesis - Difference in the age of mean")
else:
    print("failed to reject null hypothisis - No Difference of the age of mean")

Rejecting Null Hypothesis - Difference in the age of mean

                                                                2 Sample T - Test

Two Sample T test : 
    it compares the mean of 2 independent groups in order to determine whether there is a statistical evidence that the associated population mean are significantly different

In [40]:
classA_age  = stats.poisson.rvs(mu = 28, size = 70)
classA_age.mean()

27.67142857142857

In [41]:
classB_age  = stats.poisson.rvs(mu = 33, size = 30)
classB_age.mean()

33.53333333333333

In [51]:
ttest, p_value = stats.ttest_ind(a = classA_age, b = classB_age, equal_var=False)

In [52]:
p_value

1.3931366979308027e-05

In [53]:
if p_value<0.05: 
    print("Rejecting Null Hypothesis - age of class a and b is different")
else:
    print("failed to reject null hypothisis - age of class a and b is same")

Rejecting Null Hypothesis - age of class a and b is different

Paired T Test

In [58]:
age1 = [19,23,21,24,25,26,75,29,32,34,36,43,12,15,17,19,12,90,23,26,29,37]
age2 = age1 + stats.norm.rvs(scale = 5, loc = 1.5, size = 22)

In [59]:
age2

array([15.30552158, 29.58347121, 19.78310666, 21.85424513, 24.0158931 ,
       29.36867214, 88.71655232, 34.87744926, 37.54642167, 40.73242032,
       40.10647132, 45.81397281,  9.39693451,  7.38377694, 21.66475576,
       18.57645064,  8.05924911, 87.82512314, 19.46779313, 30.15733867,
       31.03398507, 38.80697046])

In [63]:
weight_df = pd.DataFrame({"age initial" : age1, "age final" : age2, 'Diff' : age2-age1})
weight_df.head()

   age initial  age final      Diff
0           19  15.305522 -3.694478
1           23  29.583471  6.583471
2           21  19.783107 -1.216893
3           24  21.854245 -2.145755
4           25  24.015893 -0.984107

In [64]:
ttest, p_value = stats.ttest_rel(a = weight_df['age initial'], b = weight_df['age final'] )

In [65]:
p_value

0.16048114480304948

In [66]:
if p_value<0.05: 
    print("Rejecting Null Hypothesis ")
else:
    print("failed to reject null hypothisis ")

failed to reject null hypothisis